# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain generated content.
files/

# Ignore default text files
robots.txt
html/LICENSE.txt
html/LICENSE
html/README.txt
html/README
html/sites/README.txt
html/modules/README.txt

# Ignore non-default hidden files
html/.htaccess
html/web.config
html/.csslintrc
html/.editorconfig
html/.eslintignore
html/.eslintrc
html/eslintrc.json
